html{
    background-color: #171515;
}

body{
    text-align: center;
}

h1{
    color: #6729a7;
    text-align: center;
    padding-top: 10%;
}

h2{
    color: #1E90FF;
    display: inline;
}

h3{
    color: white;
    display: inline;
}

a{
    text-decoration: none;
    color: #1E90FF;
    padding-left: 5%;
<<<<<<< HEAD
}

footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 20px;
=======
>>>>>>> de112345b7b047be6479e18689d71d6c8a1ed167
}