.dip{
    display: inline;
    padding-inline-start: 200px;
    padding-inline-end: 200px;
}

body{
    background-color: #30363d;
}

h1{
    color: #672976;
    text-align: center;
}

h2{
    font-size: 30px;
    color: #1E90FF;
    display: inline;
}

a{
    text-decoration: none;
    color: #1E90FF;
    padding-right: 150px;
}