body{
    background-color: #30363d;
}

.tab{
    tab-size: 20;
}

h1{
    font-size: 25px;
    color: #672976;
}

a{
    text-decoration: none;
}

title{
    text-align: center;
    font-size: 40px;
}